body {
    background: hsl(210, 46%, 95%);
    margin: 0;
    font-family: sans-serif;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 24px;
    padding: 30px;
    max-width: 1200px;
    margin: auto;
}

.testimonial {
    padding: 15px;
    border-radius: 10px;
    font-family: sans-serif;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.title img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.title div {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.daniel {
    background: hsl(263, 55%, 52%);
    grid-column: 1 / 3;
    grid-row: 1;
    color: hsl(214, 17%, 92%);
    background-image: url("../images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right;
}

.jonathan {
    background: hsl(224, 10%, 45%);
    grid-column: 3;
    grid-row: 1;
    color: hsl(214, 17%, 92%);
}

.kira {
    background: white;
    color: hsl(219, 29%, 14%);
    grid-column: 4;
    grid-row: 1 / 3;
    /* tall */
}

.jeanette {
    background: white;
    color: hsl(219, 29%, 14%);
    grid-column: 1;
    grid-row: 2;
}

.patrick {
    background: hsl(219, 29%, 14%);
    color: white;
    grid-column: 2 / 4;
    /* spans 2 columns */
    grid-row: 2;
}