* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* HEADER */

.features {
  padding: 20px 20px;
  text-align: center;
  width: 100%;
 min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  max-width: 500px;
  margin: 0 auto 60px;
}

.header h3 {
  font-weight: 200;
  color: #666;
}

.header h1 {
  margin: 10px 0;
  font-weight: 600;
}

.header p {
  color: #777;
  font-size: 15px;
}


/* MAIN FLEX LAYOUT */

.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* Each column */
.column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.column h2{
    padding-bottom: 10px;
    font-weight: 600;
}

.column p{
    color: hsl(212, 6%, 44%);
    font-size: 15px;
}
/* CARD STYLE */

.card {
  background: white;
  padding: 30px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
  text-align: left;
  display: flex;              
  flex-direction: column;
  
}

.card img{
    margin-left: auto;   
    margin-top: 20px;
    width: 50px;
}

/* Top border colors */
.supervisor {
  border-top: 4px solid hsl(180, 62%, 55%);
}

.team-builder {
  border-top: 4px solid hsl(0, 78%, 62%);
}

.karma {
  border-top: 4px solid hsl(34, 97%, 64%);
}

.calculator {
  border-top: 4px solid hsl(212, 86%, 64%);
}

footer{
  padding-top: 15px;
}
@media (max-width: 768px) {

  .cards-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .column {
    width: 100%;
    align-items: center;
  }

  .card {
    width: 90%;
    max-width: 500px;
  }

  .features {
    padding: 40px 20px;
  }

}
